/* Fontes */
@font-face{
	font-family: fonte1;
	src: url(fontes/bubblegum-sans-regular.otf);
}


body {
    margin: 0px;
    padding: 0px;

}

#main{
    background: url(img/banner.webp) center;
    object-fit: contain;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

#background {
    width: 50%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
}
#background2 {
    width: 50%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    position: relative;
    top: -91px;
    left: -168px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form {
    position: relative;
    top: 44%;
    left: 67%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    color: #ffffff;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}

h1.frase{
    color: #fff;
	font-size: 1.2em;
	font-family: fonte1;
}
.logos{
	position: relative;
	width: 50%;
    justify-content: center;
    align-items: center;
}

img{
    filter:invert(1)
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.titulo{
	font-family: fonte1;
	color: #e68e0b;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 10%;
	font-family: fonte1;
}

.input {
    min-width: 280px;
    border-radius: 22px;
    border: 2px #ddd6d6 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
	background: none;
    color: #fff;
    background-color: #fff;
}

.input i {
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(-45deg, #333, #da870b, #ce7e05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input input {
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transform: translateY(-10%);
    color: #ffffff;
    font-size: 11pt;
	background: none;
}

#btn {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #333, #333, #5c3904);
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color: #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#btn button:hover {
    background: linear-gradient(-45deg, #ddd6d6, #5c3904, #5c3904);
}


@keyframes iniciar {
    0% {
        top: -20%;
        opacity: 0;
        pointer-events: none;
    }

    100% {
        top: 50%;
        opacity: 100;
        pointer-events: all;
    }
}


@media  (max-width:768px) {
    #main {
        background: url(img/banner.webp) center;
        object-fit: contain;
        width: 100%;
        /* height: 100vh; */
        font-family: 'Poppins', sans-serif;
        background-size: cover;
         flex-direction: column
    }
    #background {
        width: 100%;
        height: 50vh;
        font-family: 'Poppins', sans-serif;
        background-size: cover;
        /* justify-content: center; */
        /* align-items: center; */
        display: block;
    }
    #form {
        /* position: relative; */
        /* top: 44%; */
        /* left: 67%; */
        /* transform: translate(-50%, -50%); */
        border-radius: 10px;
        padding: 60px;
        width: min-content;
        color: #ffffff;
        animation: iniciar 1.6s ease-out;
        pointer-events: all;
    }
    #background2 {
        /* width: 100%; */
        height: 100vh;
        font-family: 'Poppins', sans-serif;
        background-size: cover;
        /* position: relative; */
        /* top: -91px; */
        left: -168px;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }
    .logos {
        /* position: relative; */
        /* width: 50%; */
        justify-content: center;
        align-items: center;
    }
    img {
        filter: invert(1);
        scale: 0.5;
        position: relative;
        right: 40px;
    }
    h1.frase {
        color: white;
        font-size: 2.2em;
        font-family: fonte1;
        text-transform: justify;
        text-align: center;
        padding: 50px;
        margin: 0;
        position: relative;
        bottom: 184px;
    }


}



