body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
}

header p {
    color: #ccc;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section#livros {
    background-color: #fff;
    padding: 40px 0;
}

.livro {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f5f5f5;
    transition: transform 0.3s;
}

.livro:hover {
    transform: scale(1.05);
}

.livro img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
